@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('../CSS/bootstrap.min.css');

body {
    margin: 0%;
    padding: 0%;
}

.navbar-container {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navlink {
    padding: 25px 50px;
    font-size: larger;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.active-link,
.navlink:hover {
    color: red;
}

.my-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 873px;
    width: 100%;
    font-size: 100px;
    color: black;
    background-color: silver;
}